<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dirs</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/musl</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1</string>
		</dict>
	</array>
	<key>files</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/getconf</string>
			<key>mtime</key>
			<integer>1693410877</integer>
			<key>sha256</key>
			<string>0ed8a9685c8b2265a9b4126533099a81ac92479a5ed6630a242e0a33ac6d17ad</string>
			<key>size</key>
			<integer>22496</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/getent</string>
			<key>mtime</key>
			<integer>1693410877</integer>
			<key>sha256</key>
			<string>9e49b09fe13fca23328282af0cdfe30283b4c6e51ec348cfd9a959817d4cfc3a</string>
			<key>size</key>
			<integer>22664</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/iconv</string>
			<key>mtime</key>
			<integer>1693410877</integer>
			<key>sha256</key>
			<string>be34495be8557df37f7a844170ced6070f4699faaef1e9072070e4a99628f2a0</string>
			<key>size</key>
			<integer>14304</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/libc.so</string>
			<key>mtime</key>
			<integer>1693410877</integer>
			<key>sha256</key>
			<string>839b6c118a486f9431552d0a6da33f282c0f9729ca85d7e6986f2ca4eb198160</string>
			<key>size</key>
			<integer>3616112</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/licenses/musl/COPYRIGHT</string>
			<key>mtime</key>
			<integer>1693410877</integer>
			<key>sha256</key>
			<string>3520d478bccbdf68d9dc0c03984efb0fa4b99868ab2599f5b5f72f3fb3b07a49</string>
			<key>size</key>
			<integer>6110</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/getconf.1</string>
			<key>mtime</key>
			<integer>1693410877</integer>
			<key>sha256</key>
			<string>887540a54dff24690eb4939cf2c212815af2084dbaa2f6b6f0f5579762217e69</string>
			<key>size</key>
			<integer>2607</integer>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/share/man/man1/getent.1</string>
			<key>mtime</key>
			<integer>1693410877</integer>
			<key>sha256</key>
			<string>def855f6a97422ebd179b8e5591b364a5c77c94b3504cc25c86927f8b1afc324</string>
			<key>size</key>
			<integer>4158</integer>
		</dict>
	</array>
	<key>links</key>
	<array>
		<dict>
			<key>file</key>
			<string>/usr/bin/ldconfig</string>
			<key>mtime</key>
			<integer>1693410877</integer>
			<key>target</key>
			<string>/usr/bin/true</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/bin/ldd</string>
			<key>mtime</key>
			<integer>1693410877</integer>
			<key>target</key>
			<string>../lib64/libc.so</string>
		</dict>
		<dict>
			<key>file</key>
			<string>/usr/lib/ld-musl-x86_64.so.1</string>
			<key>mtime</key>
			<integer>1693410877</integer>
			<key>target</key>
			<string>/usr/lib64/libc.so</string>
		</dict>
	</array>
</dict>
</plist>
