<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>architecture</key>
	<string>x86_64-musl</string>
	<key>homepage</key>
	<string>https://musl.libc.org/</string>
	<key>installed_size</key>
	<integer>3688451</integer>
	<key>license</key>
	<string>MIT</string>
	<key>maintainer</key>
	<string>Enno Boland &lt;gottox@voidlinux.org&gt;</string>
	<key>pkgname</key>
	<string>musl</string>
	<key>pkgver</key>
	<string>musl-1.1.24_18</string>
	<key>reverts</key>
	<array>
		<string>1.2.0_1</string>
	</array>
	<key>shlib-provides</key>
	<array>
		<string>libc.so</string>
	</array>
	<key>short_desc</key>
	<string>Musl C library</string>
	<key>source-revisions</key>
	<string>musl:f5cc5a158e</string>
	<key>version</key>
	<string>1.1.24_18</string>
</dict>
</plist>
